.weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    /* flex-direction: column; */
}


.page {
    background-color: rgb(241, 241, 241);
}

