.weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapAndFeed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loader {
    display: flex;
    justify-content: center;
}


/* 
.page {
    background-color: rgb(241, 241, 241);
} */

#cityName {
    text-align: center;
}