.title {
  display: inline;
   color: rgb(223, 76, 8);
   font-size: 4rem;
   /* font-family: 'Roboto', sans-serif; */
   margin-top: 35px;
   
}

#header {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}


#img {
    display: inline;
    float: right;
    z-index: -5;
    right: 50%;
    top: 28%;
    width: auto;
    height: 120px;
    position: absolute;
    overflow: hidden;
    /* transform: rotate(45deg); */
    /* filter: drop-shadow(10px 10px 10px #c5c5c5); */
    animation: glitch 7s infinite ease-in-out;
  }

  .img2 {
    margin-left: 5px;
    width: auto;
    height: 90px;

    overflow: hidden;
    /* transform: rotate(45deg); */
    /* filter: drop-shadow(10px 10px 10px #c5c5c5); */
    /* animation: glitch2 7s infinite ease-in-out; */
  }

    @media (prefers-reduced-motion: no-preference) {
        .img2 {
          animation: App-logo-spin infinite 6s linear;
        }
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }



  @keyframes swing {
    0%, 100% { transform: rotate(-25deg);}
    20% {transform: scale(.90);}
    50% {transform: rotate(25deg);}
    80% {transform: scale(.90);}
  }


  @keyframes glitch{
    40%,40%{
        transform: translate(700px,-300px) skew(0deg);
    }
}

    div:before,
    div:after{
    content: attr(title);
    position: absolute;
    left: 0;
    }

    div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

    @keyframes glitch2{
        40%,40%{
            transform: translate(-200px,700px) skew(0deg);
        }
    }
    
        div:before,
        div:after{
        content: attr(title);
        position: absolute;
        right: 0;
        }
    
        div:before{
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        }
    

@keyframes glitchTop{
    2%,64%{
        transform: translate(4px,-4px);
    }
    4%,60%{
        transform: translateZ(-4px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}

div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}

